extends layout

block content

  .highscore-container
    h2 Highscores
    table
      thead
        tr
          th Name
          th Score
      tbody
        tr
          td
            for item in highscores
              p= item.player
          td
            for item in highscores
              p= item.score
    a(href="/")
      button.home-button-highscore Go Home