extends layout

block content
  .main-container
    .message
    .text-container
      h1.top-header Simpletons Simple Memory Game
    .goblin
    .win
    .card-container
    .button-container
      button.reset-button.reset Reset Game
      button.easy-button.easy(data-level='easyArrayOfCards') Easy
      button.medium-button.medium(data-level='mediumArrayOfCards') Medium
      button.hard-button.hard(data-level='hardArrayOfCards') Hard
      button.redonk-button.redonk(data-level='redonkArrayOfCards') Freaking Redonk
      button.home-button Go Home
      button.save-button Save Highscore
      a(href="/highscore")
        button.highscore-button Highscore
    .click-counter-container
      h3.click-counter Pick a level to start the game
  script
    include ../public/javascripts/main.js
